
/* DEVICES (mobile version) */
@media only screen and (min-width: 375px){

	.top{
		font-family: 'Dawning of a New Day', cursive;
		color: black;
		text-decoration: none;
		font-size: 1.75em;
	}

	h1 a:visited{
		text-decoration: none;
	}

	h1 a:hover{
		color: darkgrey;
	}

	h1 a:active{
		color:lightblue;
		text-decoration:none;
	} 

	h4 a{
		text-decoration: none;

	}

	h4 a: hover{
		text-decoration: none;
	}

	h4 a:active{
		text-decoration:none;
	}

	h2,h3{
		font-family: 'Swanky and Moo Moo', cursive;
		font-weight:normal;
	}

	h3{
		color: #56A0C2;
	}

	nav a, article a{
		font-family: 'Ibarra Real Nova', serif;
	}

	p,h4{
		font-family: 'Ibarra Real Nova', serif;
	}

	header{
		padding-top:8%;
		text-align: center;
		grid-area: header;
		font-size:1.5em;
	}

	nav{
		grid-area: nav;
		text-align: center;
		padding:1%;
		font-size: .8em;
	}

	article{
		grid-area: menu;
		padding:3%;
		position: fixed;
		display: none;
	}

	main{
		grid-area: main;
		padding:3%;
	}

	footer{
		grid-area: footer;
		background-color: lightgrey;
		text-align: center;
		color: white;
		padding: 2%;
	}

	#topGrid{
		display:grid;
		grid-template-areas:'header'
		'nav';
		grid-template-rows: .75fr .5fr;
		padding-bottom:1%;
	}

	.topTitle{
		font-family:"Courier New", Courier, monospace;
		font-weight:normal;
	}

	address{
		color: white;
	}

	nav a{
		padding-right: 5%;
		text-align: center;
		text-decoration: none;
		color: black;
	}

	nav a:visited{
		color: black;
		text-decoration: none;
	}

	article a{
		color: #3B785A;
		font-family:"Courier New", Courier, monospace;
		font-weight:normal;

	}

	article a:visited{
		color: #3B785A;
		text-decoration: none;
	}

	article a:hover{
		color: #56A0C2;
		font-weight: bold;

	}

	article a:active{

	text-decoration:none;
	}

	nav a:hover{
	color: #56A0C2;
	font-weight: bold;
	}

	nav a:active{
	color: black;
	text-decoration:none;
	}


	@keyframes bounceOut {
	  20% {
	    transform: scale3d(0.4, 0.4, 0.4);
	  }

	  50%,
	  55% {
	    opacity: 1;
	    transform: scale3d(.5, .5, .5);
	  }

	  to {
	    opacity: 0;
	    transform: scale3d(0.3, 0.3, 0.3);
	  }
	}

	.bounceOut {
	  animation-duration: 3s;
	  animation-name: bounceOut;
	}

	@keyframes bounce {
	  from,
	  20%,
	  53%,
	  80%,
	  to {
	    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	    transform: translate3d(0, 0, 0);
	  }

	  40%,
	  43% {
	    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    transform: translate3d(0, -30px, 0);
	  }

	  70% {
	    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    transform: translate3d(0, -15px, 0);
	  }

	  90% {
	    transform: translate3d(0, -4px, 0);
	  }
	}

	h2 a{
		display: inline-block;
	}

	.bounce {
	  animation-name: bounce;
	  transform-origin: center bottom;
	}

	.bounceHover:hover{
	  animation-name: bounce;
	  transform-origin: center center;
	  display: inline-block;
	  animation-duration: 1s;
	}


	.topTitle{
		text-align:center;
	}	

	.onePic1{
		grid-area: pic1;
		background-image: url("../images/smile.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}	

	.onePic2{
		background-image: url("../images/silly.JPG");
		background-size: contain;
		background-repeat: no-repeat;
		grid-area: pic1;

	}

	.onePic3{
		background-image: url("../images/me2.JPG");
		background-size: contain;
		background-repeat: no-repeat;
		grid-area: pic1;
	}

	.onePic4{
		background-image: url("../images/field.JPG");
		background-size: contain;
		background-repeat: no-repeat;
		grid-area: pic1;
	}

	.onePic5{
		background-image: url("../images/road.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		grid-area: pic1;
	}

	.onePic6{
		background-image: url("../images/turn.JPG");
		background-size: contain;
		background-repeat: no-repeat;
		grid-area: pic1;
	}

	/* Hide the images by default */
	.mySlides {
	  display: none;
	}

	/* Hide the images by default */
	.carnivalSlides {
	  display: none;
	}

	#oneContent1{
		grid-area: content1;
	}

	#onePic7{
		grid-area: pic2;
		background-image: url("../images/grad.jpg");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#oneContent2{
		grid-area: content2;
	}

	#onePic8{
		grid-area: pic3;
		background-image: url("../images/fountain.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#oneContent3{
		grid-area: content3;
	}


	#oneContent4{
		grid-area: content4;
	}

	#innerGrid1{
	display:grid;
	grid-gap:10px;
	grid-template-areas:'pic1'
	'content1'
	'pic2'
	'content2'
	'pic3'
	'content3'
	'content4';
	grid-template-rows: .5fr .25fr 1fr 1fr .5fr .25fr 1fr;
	padding-bottom:1%;
	}

	#innerGrid2{
	display:grid;
	grid-gap:10px;
	grid-template-areas:'pic1'
	'content1'
	'pic4'
	'content4'
	'pic2'
	'content2'
	'pic3'
	'content3'
	'pic5'
	'content5'
	'pic6'
	'content6';
	padding-bottom:1%;
	grid-template-rows: 1.25fr .75fr 1fr 1fr 2.5fr 1fr 2fr 1fr 1.25fr 1fr 1fr 1fr;
	
	}

	#twoPic1{
	grid-area: pic1;
	background-image: url("../images/design1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	}
	#twoContent1{
		grid-area: content1;
	}

	#twoPic2{
		grid-area: pic2;
		background-image: url("../images/design2.png");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#twoContent2{
		grid-area: content2;
	}

	#twoPic3{
		grid-area: pic3;
		background-image: url("../images/design3.png");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#twoContent3{
		grid-area: content3;
	}

	#twoPic4{
		grid-area: pic4;
		background-image: url("../images/design4.png");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#twoContent4{
		grid-area: content4;
	}

	#twoPic5{
		grid-area: pic5;
		background-image: url("../images/design5.png");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#twoContent5{
		grid-area: content5;
	}

	#twoPic6{
		grid-area: pic6;
		background-image: url("../images/design6.png");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#twoContent6{
		grid-area: content6;
	}

	#threePic1{
		grid-area: pic1;
		background-image: url("../images/blue1.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic2{
		grid-area: pic2;
		background-image: url("../images/blue2.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic3{
		grid-area: pic3;
		background-image: url("../images/blue3.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic4{
		grid-area: pic4;
		background-image: url("../images/blue4.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic5{
		grid-area: pic5;
		background-image: url("../images/blue5.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic6{
		grid-area: pic6;
		background-image: url("../images/blue6.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic7{
		grid-area: pic7;
		background-image: url("../images/blue7.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic8{
		grid-area: pic8;
		background-image: url("../images/blue8.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic9{
		grid-area: pic9;
		background-image: url("../images/blue9.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic10{
		grid-area: pic10;
		background-image: url("../images/blue10.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic11{
		grid-area: pic11;
		background-image: url("../images/blue11.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic12{
		grid-area: pic12;
		background-image: url("../images/blue12.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic13{
		grid-area: pic13;
		background-image: url("../images/blue13.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic14{
		grid-area: pic14;
		background-image: url("../images/blue14.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic15{
		grid-area: pic15;
		background-image: url("../images/blue15.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#threePic16{
		grid-area: pic16;
		background-image: url("../images/blue16.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#innerGrid3{
	display:grid;
	grid-gap:10px;
	grid-template-areas:'pic1 pic2'
	'pic3 pic4'
	'pic5 pic6'
	'pic7 pic8'
	'pic9 pic10'
	'pic11 pic12'
	'pic13 pic14'
	'pic15 pic16';
	padding-bottom:1%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	height:350vw;
	}

	#innerGrid4{
		display:grid;
		grid-gap:10px;
		grid-template-areas:'content1 content1'
		'pic1 pic1'
		'pic10 pic10'
		'pic3 pic3'
		'pic9 pic9'
		'pic8 pic8'
		'pic2 pic5'
		'pic7 pic4'
		'pic6 pic6'
		'pic11 pic11';
		padding-bottom:1%;
		grid-template-rows: .5fr 5fr 2fr 2fr 1.5fr 1.5fr 1.5fr 1fr 1.5fr 1.5fr;
		grid-template-columns: 1fr 1fr;
		height: 670vw;
	}

	#fourPic1{
		grid-area: pic1;
		background-image: url("../images/letter1.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#fourContent1{
		grid-area: content1;
	}

	#fourPic2{
		grid-area: pic2;
		background-image: url("../images/letter2.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#fourPic3{
		grid-area: pic3;
		background-image: url("../images/letter3.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#fourPic4{
		grid-area: pic4;
		background-image: url("../images/letter4.jpg");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#fourPic5{
		grid-area: pic5;
		background-image: url("../images/letter5.jpg");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#fourPic6{
		grid-area: pic6;
		background-image: url("../images/letter6.jpg");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#fourPic7{
		grid-area: pic7;
		background-image: url("../images/letter7.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#fourPic8{
		grid-area: pic8;
		background-image: url("../images/letter8.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#fourPic9{
		grid-area: pic9;
		background-image: url("../images/letter9.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#fourPic10{
		grid-area: pic10;
		background-image: url("../images/letter10.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#fourPic11{
		grid-area: pic11;
		background-image: url("../images/letter11.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#tourImage{
		height: 70vw;
		width: 40vw;
		margin-left: 26vw;
		background-size: cover;
	}

	#innerGrid5{
		text-align: center;
	}

	#innerGrid6{
		display:grid;
		grid-gap:10px;
		grid-template-areas:'content1 content1'
		'pic1 pic4'
		'pic3 pic5'
		'pic2 pic6'
		'pic7 pic8'
		'pic9 pic9';
		padding-bottom:1%;
		grid-template-rows: .2fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		height: 250vw;
	}

	#sixContent1{
		grid-area: content1;

	}

	#sixPic1{
		grid-area: pic1;
		background-image: url("../images/page1.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#sixPic2{
		grid-area: pic2;
		background-image: url("../images/page2.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#sixPic3{
		grid-area: pic3;
		background-image: url("../images/page3.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#sixPic4{
		grid-area: pic4;
		background-image: url("../images/page4.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#sixPic5{
		grid-area: pic5;
		background-image: url("../images/page5.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#sixPic6{
		grid-area: pic6;
		background-image: url("../images/page6.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#sixPic7{
		grid-area: pic7;
		background-image: url("../images/page7.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#sixPic8{
		grid-area: pic8;
		background-image: url("../images/page8.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

	#sixPic9{
		grid-area: pic9;
		background-image: url("../images/page9.JPG");
		background-size: contain;
		background-repeat: no-repeat;
	}

}

/* DEVICES (tablets and ipads) */
@media only screen and (min-width: 768px){

	#grid{
	display: grid;
	grid-template-areas: 'menu main';
	grid-gap:10px;
	grid-template-columns: .18fr 1fr;
	padding-bottom: 1%;
	}

	nav{
		font-size: 1em;
	}

	article{
		display: block;
	}

	header{
	padding-top:4%;
	font-size:2.5em;
	}

	#innerGrid1{
	grid-template-rows: 1.5fr .25fr 2fr 1fr 1.5fr .25fr 1fr;
	}

	.mySlides{
		padding-left:10%;
	}

	#innerGrid2{
	grid-template-rows: 1.5fr .25fr 1.75fr .25fr 3.5fr .25fr 3.25fr .25fr 1.75fr .25fr 1.75fr .25fr;
	height:510vw;
	margin-left:0vw;
	}

	#innerGrid3{
	display:grid;
	grid-gap:10px;
	grid-template-areas:'pic1 pic2 pic3'
	'pic4 pic5 pic6'
	'pic7 pic8 pic9'
	'pic10 pic11 pic12'
	'pic13 pic14 pic15';
	padding-bottom:1%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	height:150vw;
	}

	#innerGrid4{
		display:grid;
		grid-gap:10px;
		grid-template-areas:'content1 content1'
		'pic1 pic1'
		'pic10 pic10'
		'pic3 pic3'
		'pic9 pic9'
		'pic8 pic8'
		'pic2 pic5'
		'pic7 pic4'
		'pic6 pic6'
		'pic11 pic11';
		padding-bottom:1%;
		grid-template-rows: .25fr 4fr 1.5fr 1.75fr 1fr 1fr 1.5fr 1fr 1.5fr 1.5fr;
		grid-template-columns: 1fr 1fr;
		height: 500vw;
	}


	#tourImage{
		height: 70vw;
		width: 50vw;
		margin-left: 12vw;
		background-size: cover;
	}

}

/* DEVICES (laptop and desktops) */
@media only screen and (min-width: 1200px){

	h3,h2{
		font-size:180%;
	}


	.welcome{
		font-size:120%;
	}

	header{
	padding-top:1%;
	font-size:2.5em;
	}

	nav{
		font-size:1.2em;
	}

	#innerGrid1{
		grid-template-areas:'pic1 pic1 content1'
		'content2 content2 pic2'
		'pic3 pic3 content3'
		'content4 content4 content4';
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		height: 150vw;
	}


	#innerGrid2{
		grid-template-areas:'pic1 pic1 pic1 pic1 pic1 pic1'
		'content1 content1 content1 content1 content1 content1'
		'pic4 pic4 pic4 pic4 pic4 content4'
		'pic2 pic2 pic2 pic3 pic3 pic3'
		'content2 content2 content2 content3 content3 content3'
		'pic5 pic5 pic5 pic5 pic5 pic5'
		'content5 content5 content5 content5 content5 content5'
		'pic6 pic6 pic6 pic6 pic6 content6 ';
		grid-template-rows: 6fr .35fr 3.5fr 5fr .25fr 5fr .25fr 3fr;
		height:200vw;
	}

	#innerGrid3{
		grid-template-areas:'pic1 pic2 pic3 pic4'
		'pic5 pic6 pic7 pic8'
		'pic9 pic10 pic11 pic12'
		'pic13 pic14 pic15 pic16';
		padding-bottom:1%;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		height:80vw;
	}

	#innerGrid4{
		grid-template-areas:'content1 content1 content1 content1 content1 content1'
		'pic10 pic10 pic10 pic1 pic1 pic1'
		'pic3 pic3 pic3 pic1 pic1 pic1'
		'pic9 pic9 pic9 pic8 pic8 pic8'
		'pic2 pic2 pic5 pic5 pic11 pic11'
		'pic7 pic7 pic7 pic4 pic4 pic4'
		'pic6 pic6 pic6 pic6 pic6 pic6';
		padding-bottom:1%;
		grid-template-rows: .5fr 5fr 5fr 4fr 6fr 6fr 5fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		height: 190vw;
	}

	#tourImage{
		height: 40vw;
		width: 36vw;
		margin-left: 20vw;
		background-size: cover;
	}

}





